In [ ]:
for variable in  ( list values ) :
	-----------------
	-----------------
-------------------
-------------------

In [ ]:
2.for variable in ( list of values):
	--------------------
	--------------------
  else :
	-------------------
	-------------------
----------------------------
----------------------------

In [1]:
for i in "Python":
    print(i)
print('completed')

P
y
t
h
o
n
completed

In [2]:
a = str(input("enter value of string"))
for i in a:
    print(i)

enter value of stringequiv
e
q
u
i
v

In [3]:
for i in [1,2,3,4,5]:
    print(i)
print('test')

1
2
3
4
5
test

In [4]:
for i in range (1,10):
    print(i)

1
2
3
4
5
6
7
8
9

In [5]:
fruits = ["apple", "banana", "cherry"]
for x in fruits:
  print(x) 
  if x == "banana":
    break

apple
banana

In [6]:
fruits = ["apple", "banana", "cherry"]
for x in fruits:
  if x == "banana":
    break
  print(x)

apple

In [7]:
for x in range(2, 30, 3):   #2 to 29 , increase 3 every time
    print(x)

2
5
8
11
14
17
20
23
26
29

In [ ]:
#enumerate concept

Enumerate() method adds a counter to an iterable and returns it in a form of enumerate object. 
This enumerate object can then be used directly in for loops or be converted into a list of tuples 
using list() method

enumerate(iterable, start=0)

In [8]:
# Python program to illustrate 
# enumerate function 

s1 = ["python","java","c","c++","perl"] 
s2 = "DATASCIENCE"

# creating enumerate objects 
s3 = enumerate(s1) 
s4 = enumerate(s2)

print("Return type:",type(s3))
print(list(enumerate(s1)))

# changing start index to 2 from 0 
print(list(enumerate(s1,100)))

Return type: <class 'enumerate'>
[(0, 'python'), (1, 'java'), (2, 'c'), (3, 'c++'), (4, 'perl')]
[(100, 'python'), (101, 'java'), (102, 'c'), (103, 'c++'), (104, 'perl')]

In [9]:
L = ['apples', 'bananas', 'oranges']
#M = [1,2,3,4,5]
#for val in L:
for idx, val in enumerate(L):
    print('index is:',idx,'value is:',val)
    print("index is %d and value is %s" % (idx,val))

index is: 0 value is: apples
index is 0 and value is apples
index is: 1 value is: bananas
index is 1 and value is bananas
index is: 2 value is: oranges
index is 2 and value is oranges

In [10]:
t = ('apples', 'bananas', 'oranges')
for idx, val in enumerate(t):
  print("index is %d and value is %s" % (idx, val))

index is 0 and value is apples
index is 1 and value is bananas
index is 2 and value is oranges

In [11]:
L = [('Matt', 20), ('Karim', 30), ('Maya', 40)] # ('Matt',20) - val -- val[0] = Matt
for idx, val in enumerate(L):
  name = val[0]
  age = val[1]
  print("index is %d, name is %s, and age is %d"          % (idx, name, age))

index is 0, name is Matt, and age is 20
index is 1, name is Karim, and age is 30
index is 2, name is Maya, and age is 40

In [12]:
for idx, (name,age) in enumerate(L,5):
  print("index is %d, name is %s, and age is %d"         % (idx, name, age))

index is 5, name is Matt, and age is 20
index is 6, name is Karim, and age is 30
index is 7, name is Maya, and age is 40

In [13]:
str = "Python"
for idx, ch in enumerate(str):
  print("index is %d and character is %s"          % (idx, ch))

index is 0 and character is P
index is 1 and character is y
index is 2 and character is t
index is 3 and character is h
index is 4 and character is o
index is 5 and character is n

In [14]:
list(enumerate(['a', 'b', 'c']))

[(0, 'a'), (1, 'b'), (2, 'c')]

In [15]:
for idx, val in enumerate(['a', 'b']):
    print(idx, val)

0 a
1 b

In [16]:
i = 10
y = 20.00
z = 'rohit'
x = True
print("value of i is %d,value of y is %f,value of z is %s" %(i,y,z))

value of i is 10,value of y is 20.000000,value of z is rohit

In [17]:
l = [(1,2,3),(1,3,4),(3,5,7)]
for idx,val in enumerate(l):
    c = val[0]
    d = val[1]
    e = val[2]
    print('value of idx is %d,value of c is %d,value of d is %d'%(idx,c,d))

value of idx is 0,value of c is 1,value of d is 2
value of idx is 1,value of c is 1,value of d is 3
value of idx is 2,value of c is 3,value of d is 5