In [ ]:
#functions:

It is a group of statements to perform specific task.
Main concept of functions is to - 
    1. To reduce length code of program
    2. Easy to maintain
    3. Easy to understand
    4. provides more readability and clarity
    5. Supports re-useability

In [ ]:
#creating a function

def <functionname>:
    ---------------------------------
    ---------------------------------
    ---------------------------------
function()

In [2]:
#calling a function

def main():  # empty function
    print('welcome to functions class')

main()

welcome to functions class

In [3]:
# Functions with arguments

def main(name):    #argument --> name
    print(name,'welcome to functions class')

main('Rohit')

Rohit welcome to functions class

In [4]:
def main(name = "suresh"):
  print("I am",name)

main("sumith")
main("rakesh")
main()

I am sumith
I am rakesh
I am suresh

In [5]:
def name(fruits):
  for x in fruits:
    print(x)

fruits = ["apple", "banana", "cherry"]

name(fruits)

apple
banana
cherry

In [6]:
#Return values

def main(x):
#    c = 3*x
#    print(c)
    return 3 * x

#main(3)

#main(1)
print(main(7))
print(main(6))

21
18

In [7]:
def check( x ): 
    if (x%2==0):
        print('entered number is even')
    else:
        print('entered number is odd')
        
check(8) 
check(7)

entered number is even
entered number is odd

In [12]:
def main(x,y):
        print('X value is:',x)
        print('y value is:',y)

main(y=7,x=6)

X value is: 6
y value is: 7

In [13]:
def swap(x, y):
    temp = x
    x = y
    y = temp;
    print(x) 
    print(y)

x = 2
y = 3
swap(x, y)

3
2

In [14]:
def fun1(name,age):
    print('Hello',name,'Nice to meet you!','You are',age,'years old')
    
fun1('Rakesh',20)
fun1(name='sumith',age=20)
fun1(age=20,name='sumith')

Hello Rakesh Nice to meet you! You are 20 years old
Hello sumith Nice to meet you! You are 20 years old
Hello sumith Nice to meet you! You are 20 years old

In [15]:
def sum(a,b):
    c = a+b
    return c
x=sum(10,20)
print(x)

30