In [ ]:
#CLASS

1.Class is a collection of properties & methods.
2.class is a keyword to create new class.
3.The instance of class is known as object.
4.[DOT]. is the operator to access class properties & methods through object.
5. self is a special argument it holds current object address.

In [ ]:
#Syntax

class <class name>:
    var1 = value
    var2 = value     --> Class variables
    ..
    ..
    ..
    def <function name>(self,<arg1>,.....):
        ------------
        ------------
        ------------
    def <function name2>(self,<arg2>,....):      --> class methods
        ------------
        ------------
        ------------
object1 = classname()
object2 = classname()   --> object creation
.
.

In [ ]:
CLASS CREATION
CLASS VARIABLES
CLASS METHODS
OBJECT CREATION

In [1]:
class c1:   #CLASS CREATION
    def f1(self):
        print('I am F1',self)

#Object creation        
x=c1()
y=c1()
k=c1()
#calling class methods
x.f1()
y.f1()
k.f1()

I am F1 <__main__.c1 object at 0x1066eb310>
I am F1 <__main__.c1 object at 0x106af7450>
I am F1 <__main__.c1 object at 0x106af6fd0>

In [2]:
class test:
    def f1(self,a,b):
        self.a = a
        self.b = b
        print('i am f1,my a,b values are',self.a,self.b)
#object creation
x=test()
y=test()
k=test()
#calling class methods
x.f1(10,20)
y.f1(100,200)
k.f1(1000,2000)

i am f1,my a,b values are 10 20
i am f1,my a,b values are 100 200
i am f1,my a,b values are 1000 2000

In [3]:
class employee:
    def getdata(self,id,name,job,sal):
        self.id = id
        self.name = name
        self.job = job
        self.sal = sal
    def display(self):
        print(self.id,'\t',self.name,'\t',self.job,'\t',self.sal)
        
#object creation

a = employee()
b = employee()
c = employee()

#calling methods

a.getdata(101,'sai','manager',10000)
b.getdata(102,'hari','president',20000)
c.getdata(103,'lakshmi','analyst',12000)
print('empid \t ename \t\t job \t salary')
print('#'*50)
a.display()
b.display()
c.display()
print('#'*50)

empid 	 ename 		 job 	 salary
##################################################
101 	 sai 	 manager 	 10000
102 	 hari 	 president 	 20000
103 	 lakshmi 	 analyst 	 12000
##################################################

In [4]:
class Area :
    pi=3.14
    area=0
    def area_circle(self,r) :
        self.r=r
        Area.area=Area.pi*self.r*self.r
        print('Area of Circle is:',Area.area)
    def area_traingle(self,r) :
        self.r=r
        Area.area=2*Area.pi*self.r
        print('Area of triangle is:',Area.area)
c=Area()
t=Area()
c.area_circle(3)
t.area_traingle(3)

Area of Circle is: 28.259999999999998
Area of triangle is: 18.84

In [5]:
class   student :
    cnt=0
    def info(self,name,course,phno):
        self.name=name
        self.course=course
        self.phno=phno
        student.cnt=student.cnt+1
    def display(self):
        print("*****************************************")
        print("Name :",self.name)
        print("Course : ",self.course)
        print("Phno :",self.phno)
        print("*****************************************")
        print("#######END OF THE RECORD#################")
a=student()
b=student()
c=student()
a.info('Hari','unix',999)
b.info('Sai','Python',272727)
c.info('Padma','Oracle',88888)
a.display()
b.display()
c.display()
print("Total no of students : ",student.cnt)

*****************************************
Name : Hari
Course :  unix
Phno : 999
*****************************************
#######END OF THE RECORD#################
*****************************************
Name : Sai
Course :  Python
Phno : 272727
*****************************************
#######END OF THE RECORD#################
*****************************************
Name : Padma
Course :  Oracle
Phno : 88888
*****************************************
#######END OF THE RECORD#################
Total no of students :  3

In [ ]:
# Constructor

It is a special method,it invokes automatically whenever the object is created and it allocates memory
for given object.
name of constructor is

def _ _ init _ _(self,<arg>......):

In [ ]:
#Destructor

It is also a special method,it invokes automatically whenever the control is outside of object
and deallocates memory for given object.

Name of destructor is 

def _ _del _ _(self):

In [6]:
class c1:
    def __init__(self):
        print('Hey I am a constructor')
a=c1()

Hey I am a constructor

In [7]:
class  c1 :
    i=0 # class variable
    def __init__(self) :   # constructor method
        c1.i=c1.i+1
        print(" hey, i am constructor :",c1.i)
    def f1(self) :
        print("total no of objects:",c1.i)

x=c1()
y=c1()
z=c1()
k=c1()
m=c1()
x.f1()
l=c1()
x.f1()

 hey, i am constructor : 1
 hey, i am constructor : 2
 hey, i am constructor : 3
 hey, i am constructor : 4
 hey, i am constructor : 5
total no of objects: 5
 hey, i am constructor : 6
total no of objects: 6

In [8]:
class student:
    cnt=0
    def __init__(self,name,course,phno):
        self.name=name
        self.course=course
        self.phno=phno
        student.cnt=student.cnt+1
    def display(self):
        print("*****************************************")
        print("Name :",self.name)
        print("Course : ",self.course)
        print("Phno :",self.phno)
        print("*****************************************")
        print("#######END OF THE RECORD#################")
a=student('Hari','unix',999)
b=student('Sai','Python',272727)
c=student('Padma','Oracle',88888)
a.display()
b.display()
c.display()
print("Total no of students : ",student.cnt)

*****************************************
Name : Hari
Course :  unix
Phno : 999
*****************************************
#######END OF THE RECORD#################
*****************************************
Name : Sai
Course :  Python
Phno : 272727
*****************************************
#######END OF THE RECORD#################
*****************************************
Name : Padma
Course :  Oracle
Phno : 88888
*****************************************
#######END OF THE RECORD#################
Total no of students :  3

In [9]:
#Example of parametrized contructor
class   student :
    cnt=0
    def __init__(self,name,course,phno) :
        self.name=name
        self.course=course
        self.phno=phno
        student.cnt=student.cnt+1
    def display(self) :
        print("Name :",self.name)
        print("Course : ",self.course)
        print("Phno :",self.phno)
        print("********************")
a=student('Hari','unix',999)
b=student('Sai','Python',272727)
c=student('Padma','Oracle',88888)
a.display()
b.display()
c.display()
print("Total no of students : ",student.cnt)

Name : Hari
Course :  unix
Phno : 999
********************
Name : Sai
Course :  Python
Phno : 272727
********************
Name : Padma
Course :  Oracle
Phno : 88888
********************
Total no of students :  3

In [10]:
#Example of parametrized contructor
class   student :
    cnt=0
    def __init__(self,name,course,phno) :
        self.name=name
        self.course=course
        self.phno=phno
        student.cnt=student.cnt+1
    def display(self) :
        print("Name :",self.name)
        print("Course : ",self.course)
        print("Phno :",self.phno)
        print("********************")
a=student('Hari','unix',999)
b=student('Sai','Python',272727)
c=student('Padma','Oracle',88888)
a.display()
b.display()
c.display()
print("Total no of students : ",student.cnt)

Name : Hari
Course :  unix
Phno : 999
********************
Name : Sai
Course :  Python
Phno : 272727
********************
Name : Padma
Course :  Oracle
Phno : 88888
********************
Total no of students :  3

In [11]:
class Employee:
   'Common base class for all employees'
   empCount = 0

   def __init__(self, name, salary):
      self.ename = name
      self.esalary = salary
      Employee.empCount += 1
   
   def displayCount(self):
     print("Total Employee s", Employee.empCount)

   def displayEmployee(self):
      print("Name : ", self.ename,  ", Salary: ", self.esalary)

"This would create first object of Employee class"
emp1 = Employee("Hari", 2000)
"This would create second object of Employee class"
emp2 = Employee("Sai", 5000)
emp1.displayEmployee()
emp2.displayEmployee()
print("Total Employee " , Employee.empCount)

print("Employee.__doc__:", Employee.__doc__)
print("Employee.__name__:", Employee.__name__)
print("Employee.__module__:", Employee.__module__)
print("Employee.__bases__:", Employee.__bases__)
print("Employee.__dict__:", Employee.__dict__)

Name :  Hari , Salary:  2000
Name :  Sai , Salary:  5000
Total Employee  2
Employee.__doc__: Common base class for all employees
Employee.__name__: Employee
Employee.__module__: __main__
Employee.__bases__: (<class 'object'>,)
Employee.__dict__: {'__module__': '__main__', '__doc__': 'Common base class for all employees', 'empCount': 2, '__init__': <function Employee.__init__ at 0x106adf7e0>, 'displayCount': <function Employee.displayCount at 0x106adf880>, 'displayEmployee': <function Employee.displayEmployee at 0x106adf920>, '__dict__': <attribute '__dict__' of 'Employee' objects>, '__weakref__': <attribute '__weakref__' of 'Employee' objects>}

In [12]:
class ComplexNumber:
    def __init__(self,r ,i):  # parametrized constructor
        self.real = r
        self.imag = i

    def getData(self):  # class method
        print(self.real,"+",str(self.imag)+"j")
c1=ComplexNumber(2,3)
c1.getData()
c2=ComplexNumber(3,4)
c2.getData()

2 + 3j
3 + 4j

In [13]:
class c1:
    def f1(self,a,b):
        self.a = a
        self.b = b
        print(self.a)
        print(self.b)
x=c1()

x.f1(10,20)


# In[1]:


class c1:   #class <class name>:
    def f1(self):
        print(self)

x=c1()

x.f1()

10
20
<__main__.c1 object at 0x106b02610>

In [14]:
class student:
    def info(self,name,id,marks):
        self.name = name
        self.id   = id
        self.marks = marks
    def display(self):
        print('#'*25)
        print('NAME \t ID \t MARKS')
        print(self.name)
        print(self.id)
        print(self.marks)
        print('#'*50)
x = student()
y = student()
z = student()
x.info('RAVI',100,80)
y.info('suresh',200,90)
z.info('ramesh',300,50)
x.display()
y.display()
z.display()

#########################
NAME 	 ID 	 MARKS
RAVI
100
80
##################################################
#########################
NAME 	 ID 	 MARKS
suresh
200
90
##################################################
#########################
NAME 	 ID 	 MARKS
ramesh
300
50
##################################################

In [15]:
#class
#class method
#object creation
#calling object

class test:
    def f1(self):
        print('im in f1')
x=test()
x.f1()

im in f1

In [16]:
class student:
    cnt=0
    def info(self,name,phono):
        self.name = name
        self.phono = phono
        print(self.name)
        print(self.phono)
a=student()
a.info('ravi',999999999)

ravi
999999999

In [17]:
class student:
    cnt=0
    def __init__(self,name,phono):
        self.name = name
        self.phono = phono
        print(self.name)
        print(self.phono)
a=student('ravi',9999999)
b=student('ram',88888)

ravi
9999999
ram
88888