In [ ]:
#Inheritance  --> reuseability

4 types of inheritance

1.Simple inheritance
2.multiple inheritance
3.multilevel inheritance
4.heirarichal inheritnace

In [ ]:
#Simple inheritance

A  <--  B

A is called Parantel class
B is called child class

class A:
    def f1():
        _________
        _________
    def f2():
        __________
        __________
class B(A):
    def f3():
        __________
        __________
b1 = B()
b1.f1()
b1.f2()
b1.f3()

In [ ]:
#Multiple inheritance

A    B      C

     |
    
    D

class A:
    def f1():
        .........
        .........
    def f2():
        ..........
        ..........
class B:
    def f3():
        ..........
        ..........
    def f4():
        ..........
        ..........
class C:
    def f5():
        ..........
        ..........
class D(A,B,C):
    def f6():
        ..........
        ..........

a1 = D()
a1.f1()
a1.f3()

In [ ]:
#Multi Level inheritance


A <-- B <-- C <-- D

class A:
    def f1():
        ..........
        ..........
    def f2():
        ..........
class B(A):
    def f3():
        .........
class C(B):
    def f4():
        .........
class D(C):
    def f5():
        .........

a = D()
a.f1()
a.f3()
a.f5()

In [ ]:
# heiraichal inheritance

B

C    -->    A


D


class A:
    def f1():
        ........
        ........
    def f2():
        ........
        ........
        
class B(A)
     def f3():
        .........
class C(A):
    def f4():
        ...........
        ...........
class D(A):
    def f5():
        ...............

a = B()
a.f1()

b = D()
d.f5()

In [12]:
#heirarichal inheriance

class A:
    def f1(self,a):
        self.a=a
class sqr(A):
    def f2(self):
        return self.a*self.a
class cube(A):
    def f3(self):
        return self.a*self.a*self.a
s1 = sqr()
s1.f1(10)
print(s1.f2())
s2=sqr()
s2.f1(100)
print(s2.f2())
s3 = cube()
s3.f1(10)
print(s3.f3())

100
10000
1000

In [4]:
#multiple inheritance

class A:
    a=100
    def f1(self):
        print('i am in f1')
class B:
    b=200
    def f2(self):
        print('i am in f2')
class C(A,B):
    c=300
    def f3(self):
        self.f1()
        self.f2()
        print('i am in f3')
        print('a=',A.a,'b=',B.b,'C=',C.c)
x=C()
x.f3()

i am in f1
i am in f2
i am in f3
a= 100 b= 200 C= 300

In [11]:
#Multilevel inheritance

class A:
    def f1(self):
        print('i am in A class')
class B(A):
    def f2(self):
        print('i am in B class')
class C(B):
    def f3(self):
        print('i am in C class')
c1=C()
c1.f1()
c1.f2()
c1.f3()

i am in A class
i am in B class
i am in C class

In [3]:
#Simple inheritance
 
class Person:
    def info(self,name,id):
        print('i amin person class')
        self.name = name
        self.id = id
    def display(self):
        print(self.name)
        print(self.id)
class employee(Person):
    def info1(self,name,id,sal,job):
        self.sal = sal
        self.job = job
        Person.info(self,name,id)
    def display1(self):
        print(self.name)
        print(self.id)
        print(self.sal)
        print(self.job)
#test1=Person()
#test1.info('Akshith',200)
#test1.display()
test = employee()
test.info1('Akshith',200,30000,'developer')
test.display1()

i amin person class
Akshith
200
30000
developer

In [13]:
#Inheritance with constructor

class A:
    def __init__(self):
        print('i am a base class constructor')
class B(A):
    def __init__(self):
        A.__init__(self)
        print('i am a derived class constructor')
b1=B()
#b2=A()

i am a base class constructor
i am a derived class constructor

In [13]:
class person:
    def __init__(self,first,last):
        self.firstname = first
        self.lastname = last
    def fullname(self):
        return self.firstname+" "+self.lastname
class employee(person):
    def __init__(self,first,last,age):
        person.__init__(self,first,last)
        self.age = age
    def getemployee(self):
        return self.fullname()+","+self.age
y = employee('virat','kholi',"31")
print(y.getemployee())

virat kholi,31

In [14]:
class student:   # creating a class   class <classname>:
    def info(self,id,name,marks):
        self.id = id
        self.name = name
        self.marks = marks
    def display(self):
        print('#'*25)
        print(self.id,'\t',self.name,'\t',self.marks)
        print('#'*25)

a = student()
b = student()
c = student()

a.info(200,'ravi',300)
b.info(300,'suresh',400)
c.info(400,'ramesh',500)
print('ID \t NAME \t MARKS')
a.display()
b.display()
c.display()

ID 	 NAME 	 MARKS
#########################
200 	 ravi 	 300
#########################
#########################
300 	 suresh 	 400
#########################
#########################
400 	 ramesh 	 500
#########################

In [15]:
class student:   # creating a class   class <classname>:
    def __init__(self,id,name,marks):
        self.id = id
        self.name = name
        self.marks = marks
    def display(self):
        print('#'*25)
        print(self.id,'\t',self.name,'\t',self.marks)
        print('#'*25)

a = student(200,'ravi',300)
b = student(300,'suresh',400)
c = student(400,'ramesh',500)

#a.info(200,'ravi',300)
#b.info(300,'suresh',400)
#c.info(400,'ramesh',500)
print('ID \t NAME \t MARKS')
a.display()
b.display()
c.display()

ID 	 NAME 	 MARKS
#########################
200 	 ravi 	 300
#########################
#########################
300 	 suresh 	 400
#########################
#########################
400 	 ramesh 	 500
#########################

In [19]:
class person:
    def info(self,id,name):
        self.id= id
        self.name = name
        print('we are in class 1')
    def display(self):
        print(self.id)
        print(self.name)
class student(person):
    def info1(self,id,name,age):
        self.age = age
        person.info(self,id,name)
        print('we are in class 2')
    def display1(self):
        print(self.age)
        print(self.id)
        print(self.name)
a = student()
a.info1(10,'rakesh',40)
a.display1()

we are in class 1
we are in class 2
40
10
rakesh

In [23]:
class employee:
    def emp1(self,id,name,sal):   #__init__
        self.id = id
        self.name = name
        self.sal = sal
class emp2(employee):
    def emp3(self,id,name,sal,job):  # __init__
        self.job = job
        employee.emp1(self,id,name,sal)   # __init__
    def display(self):
        print(self.id,'\t',self.name,'\t',self.sal,'\t',self.job)
a = emp2()  #give data here
b = emp2()
c = emp2()
a.emp3(10,'rakesh',20000,'manager')    #comment all 3 lines below
b.emp3(20,'suresh',30000,'developer')
c.emp3(30,'ramesh',40000,'analyst')
print('ID \t NAME \t          SAL \t JOB')
print('#'*40)
a.display()
print('#'*40)
b.display()
print('#'*40)
c.display()
print('#'*40)

ID 	 NAME 	          SAL 	 JOB
########################################
10 	 rakesh 	 20000 	 manager
########################################
20 	 suresh 	 30000 	 developer
########################################
30 	 ramesh 	 40000 	 analyst
########################################

In [25]:
class employee:
    def __init__(self,id,name,sal):
        self.id = id
        self.name = name
        self.sal = sal
class emp2(employee):
    def __init__(self,id,name,sal,job):
        self.job = job
        employee.__init__(self,id,name,sal)
    def display(self):
        print(self.id,'\t',self.name,'\t',self.sal,'\t',self.job)
a = emp2(10,'rakesh',20000,'manager')
b = emp2(20,'suresh',30000,'developer')
c = emp2(30,'ramesh',40000,'analyst')
#a.emp3(10,'rakesh',20000,'manager')
#b.emp3(20,'suresh',30000,'developer')
#c.emp3(30,'ramesh',40000,'analyst')
print('ID \t NAME \t          SAL \t JOB')
print('#'*40)
a.display()
print('#'*40)
b.display()
print('#'*40)
c.display()
print('#'*40)

ID 	 NAME 	          SAL 	 JOB
########################################
10 	 rakesh 	 20000 	 manager
########################################
20 	 suresh 	 30000 	 developer
########################################
30 	 ramesh 	 40000 	 analyst
########################################

In [33]:
class A:
    def A1(self):
        print('i am class A')
class B:
    def B1(self):
        print('i am clas B')
class C:
    def C1(self):
        print('i am class c')
class D(A,B,C):
    def D1(self):
        A.A1(self)
        B.B1(self)
        C.C1(self)
        print('i am class D')
a = D()
a.D1()

i am class A
i am clas B
i am class c
i am class D

In [29]:
class rollno:
    def no(self,num):
        self.number = num
class name:
    def N1(self,nme):
        self.name = nme
class marks:
    def M1(self,mark):
        self.mark = mark
class student(rollno,name,marks):
    def info(self,num,nme,mark,avg):
        self.avg =  avg
        rollno.no(self,num)
        name.N1(self,nme)
        marks.M1(self,mark)
    def display(self):
        print(self.number)
        print(self.name)
        print(self.mark)
        print(self.avg)
a=student()
b=student()
c=student()
a.info(20,'rakesh',100,50)
b.info(30,'ramesh',90,40)
c.info(40,'suresh',80,30)
print('number \t name \t  marks \t  avg')
print('#'*25)
a.display()
print('#'*25)
b.display()
print('#'*25)
c.display()
print('#'*25)

number 	 name 	  marks 	  avg
#########################
20
rakesh
100
50
#########################
30
ramesh
90
40
#########################
40
suresh
80
30
#########################

In [30]:
class rollno:
    def __init__(self,num):
        self.number = num
class name:
    def __init__(self,nme):
        self.name = nme
class marks:
    def __init__(self,mark):
        self.mark = mark
class student(rollno,name,marks):
    def __init__(self,num,nme,mark,avg):
        self.avg =  avg
        rollno.__init__(self,num)
        name.__init__(self,nme)
        marks.__init__(self,mark)
    def display(self):
        print(self.number)
        print(self.name)
        print(self.mark)
        print(self.avg)
a=student(20,'rakesh',100,50)
b=student(30,'ramesh',90,40)
c=student(40,'suresh',80,30)
#a.info(20,'rakesh',100,50)
#b.info(30,'ramesh',90,40)
#c.info(40,'suresh',80,30)
print('number \t name \t  marks \t  avg')
print('#'*25)
a.display()
print('#'*25)
b.display()
print('#'*25)
c.display()
print('#'*25)

number 	 name 	  marks 	  avg
#########################
20
rakesh
100
50
#########################
30
ramesh
90
40
#########################
40
suresh
80
30
#########################

In [36]:
class A:
    def A1(self):
        print('i am in clas A')
class B(A):
    def B1(self):
        A.A1(self)
        print('i am in class B')
class C(B):
    def C1(self):
        B.B1(self)
        print('i am in class C')
class D(C):
    def D1(self):
        C.C1(self)
        print('i am in class D')
        
e =D()
e.D1()

i am in clas A
i am in class B
i am in class C
i am in class D

In [38]:
class id:
    def t1(self,ID):
        self.id = ID
class name(id):
    def t2(self,ID,NAME):
        self.name = NAME
        id.t1(self,ID)
class sal(name):
    def t3(self,ID,NAME,SAL):
        self.sal = SAL
        name.t2(self,ID,NAME)
class employee(sal):
    def t4(self,ID,NAME,SAL,JOB):
        self.job = JOB
        sal.t3(self,ID,NAME,SAL)
    def display(self):
        print(self.id,'\t',self.name,'\t',self.sal,'\t',self.job)
a=employee()
b=employee()
c=employee()
a.t4(20,'Ravi',2000,'manager')
b.t4(30,'Rakesh',4000,'manager')
c.t4(40,'Ravish',2000,'manager')
print('ID \t   NAME \t    SAL \t   job')
a.display()
b.display()
c.display()

ID 	   NAME 	    SAL 	   job
20 	 Ravi 	 2000 	 manager
30 	 Rakesh 	 4000 	 manager
40 	 Ravish 	 2000 	 manager

In [ ]:
class A:
    def A1:
        print('I AM IN CLASS A')
class B(A):
    def B1:
        print('I AM IN CLASS B')
class C(A):

In [7]:
class id:
    def rollno(self,ID):
        self.id = ID
class name(id):
    def N(self,ID,NAME):
        self.name = NAME
        id.rollno(self,ID)
    def display1(self):
        print(self.id,'\t',self.name)
class marks(id):
    def M(self,ID,MARKS):
        self.marks = MARKS
        id.rollno(self,ID)
    def display2(self):
        print(self.id,'\t',self.marks)
class avg(id):
    def D(self,ID,AVG):
        self.avg = AVG
        id.rollno(self,ID)
    def display3(self):
        print(self.id,'\t',self.avg)
a = name()
a.N(200,'Ravi')
a.display1()

b = marks()
b.M(300,500)
b.display2()

c=avg()
c.D(200,80)
c.display3()

200 	 Ravi
300 	 500
200 	 80

In [12]:
class test:
    def A1(self,jobid):
        self.jobid = jobid
    def display(self):
        print(self.jobid)
class test1(test):
    def B1(self,jobid,sal):
        self.sal = sal
        test.A1(self,jobid)
    def display1(self):
        print(self.jobid,'\t',self.sal)
class test2(test):
    def C1(self,jobid,role):
        self.role = role
        test.A1(self,jobid)
    def display2(self):
        print(self.jobid,'\t',self.role)
class test3(test):
    def D1(self,jobid,grade):
        self.grade = grade
        test.A1(self,jobid)
    def display3(self):
        print(self.jobid,'\t',self.grade)
class test4(test):
    def E1(self,jobid,exp):
        self.exp = exp
        test.A1(self,jobid)
    def display4(self):
        print(self.jobid,'\t',self.exp)
a=test()
a.A1(200)
a.display()

b=test1()
b.B1(300,30000)
b.display1()

c=test4()
c.E1(500,4)
c.display4()

200
300 	 30000
500 	 4