In [1]:
import mysql.connector

In [2]:
pip install mysql.connector-python

Requirement already satisfied: mysql.connector-python in ./anaconda3/lib/python3.11/site-packages (8.1.0)
Requirement already satisfied: protobuf<=4.21.12,>=4.21.1 in ./anaconda3/lib/python3.11/site-packages (from mysql.connector-python) (4.21.12)
Note: you may need to restart the kernel to use updated packages.

In [1]:
#check conection

import mysql.connector

mydb = mysql.connector.connect(
  host="localhost",
  user="akshith",
  password='Nopassword@1'
)

print(mydb)

<mysql.connector.connection_cext.CMySQLConnection object at 0x107b13590>

In [9]:
#creating a database -- use the "CREATE DATABASE" statement

import mysql.connector

mydb = mysql.connector.connect(
  host="localhost",
  user="akshith",
  password='Nopassword@1'
)

mycursor = mydb.cursor()

mycursor.execute("CREATE DATABASE clientindex")

In [2]:
#check if DB exsists

import mysql.connector

mydb = mysql.connector.connect(
  host="localhost",
  user="akshith",
  password="Nopassword@1"
)

mycursor = mydb.cursor()

mycursor.execute("SHOW DATABASES")

for x in mycursor:
  print(x)

('clientindex',)
('information_schema',)
('mysql',)
('performance_schema',)
('sys',)

In [3]:
#try connecting to DB

import mysql.connector

mydb = mysql.connector.connect(
  host="localhost",
  user="akshith",
  password="Nopassword@1",
  database="clientindex"
)

In [12]:
#creating table

import mysql.connector

mydb = mysql.connector.connect(
  host="localhost",
  user="akshith",
  password="Nopassword@1",
  database="clientindex"
)

mycursor = mydb.cursor()

mycursor.execute("CREATE TABLE NDXMBR (NAME VARCHAR(25), address1 VARCHAR(25), address2 VARCHAR(25), address3 VARCHAR(25), city VARCHAR(25), state VARCHAR(2))")

In [16]:
#check table created or NOT

import mysql.connector

mydb = mysql.connector.connect(
  host="localhost",
  user="akshith",
  password="Nopassword@1",
  database="clientindex"
)

mycursor = mydb.cursor()

mycursor.execute("SHOW TABLES")

for x in mycursor:
  print(x)

('NDXMBR',)

In [19]:
#alter table 
import mysql.connector

mydb = mysql.connector.connect(
  host="localhost",
  user="akshith",
  password="Nopassword@1",
  database="clientindex"
)

mycursor = mydb.cursor()

mycursor.execute("ALTER TABLE NDXMBR ADD COLUMN ZIP INT")

In [ ]:
import mysql.connector

mydb = mysql.connector.connect(
  host="localhost",
  user="akshith",
  password="Nopassword@1",
  database="clientindex"
)

mycursor = mydb.cursor()

sql = "INSERT INTO customers (name, address1) VALUES (%s, %s)"
val = ("John", "Highway 21")
mycursor.execute(sql, val)

mydb.commit()

print(mycursor.rowcount, "record inserted.")

In [22]:
import mysql.connector

mydb = mysql.connector.connect(
  host="localhost",
  user="akshith",
  password="Nopassword@1",
  database="clientindex"
)

mycursor = mydb.cursor()

sql = "INSERT INTO NDXMBR (name, address1, address2, address3, city, state) VALUES (%s, %s, %s, %s, %s, %s)"
val = ("John", "Highway 21",'unit 504','','halifax','NS')
mycursor.execute(sql, val)

mydb.commit()

print(mycursor.rowcount, "record inserted.")

1 record inserted.

In [23]:
#SELECT TABLE NAMES FROM TABLE

import mysql.connector

mydb = mysql.connector.connect(
  host="localhost",
  user="akshith",
  password="Nopassword@1",
  database="clientindex"
)

mycursor = mydb.cursor()

mycursor.execute("SELECT * FROM NDXMBR")

myresult = mycursor.fetchall()

for x in myresult:
  print(x)

('John', 'Highway 21', 'unit 504', '', 'halifax', 'NS', 1, None)

In [26]:
#mutiple rows insert

import mysql.connector

mydb = mysql.connector.connect(
  host="localhost",
  user="akshith",
  password="Nopassword@1",
  database="clientindex"
)

mycursor = mydb.cursor()

sql = "INSERT INTO NDXMBR (name, address1, address2, address3, city, state, zip) VALUES (%s, %s, %s, %s, %s, %s, %s)"
val = [
  ('Peter', 'Lowstreet 4','','','HALIFAX','NS','50604'),
  ('Amy', 'Apple st 652','','','HALIFAX','NS','50604'),
  ('Hannah', 'Mountain 21','','','HALIFAX','NS','50604'),
  ('Michael', 'Valley 345','','','HALIFAX','NS','50604'),
  ('Sandy', 'Ocean blvd 2','','','HALIFAX','NS','50604'),
  ('Betty', 'Green Grass 1','','','HALIFAX','NS','50604'),
  ('Richard', 'Sky st 331','','','HALIFAX','NS','50604'),
  ('Susan', 'One way 98','','','HALIFAX','NS','50604'),
  ('Vicky', 'Yellow Garden 2','','','HALIFAX','NS','50604'),
  ('Ben', 'Park Lane 38','','','HALIFAX','NS','50604'),
  ('William', 'Central st 954','','','HALIFAX','NS','50604'),
  ('Chuck', 'Main Road 989','','','HALIFAX','NS','50604'),
  ('Viola', 'Sideway 1633','','','HALIFAX','NS','50604')
]

mycursor.executemany(sql, val)

mydb.commit()

print(mycursor.rowcount, "was inserted.")

13 was inserted.

In [27]:
#SELECT TABLE NAMES FROM TABLE

import mysql.connector

mydb = mysql.connector.connect(
  host="localhost",
  user="akshith",
  password="Nopassword@1",
  database="clientindex"
)

mycursor = mydb.cursor()

mycursor.execute("SELECT * FROM NDXMBR")

myresult = mycursor.fetchall()

for x in myresult:
  print(x)

('John', 'Highway 21', 'unit 504', '', 'halifax', 'NS', 1, None)
('Peter', 'Lowstreet 4', '', '', 'HALIFAX', 'NS', 2, 50604)
('Amy', 'Apple st 652', '', '', 'HALIFAX', 'NS', 3, 50604)
('Hannah', 'Mountain 21', '', '', 'HALIFAX', 'NS', 4, 50604)
('Michael', 'Valley 345', '', '', 'HALIFAX', 'NS', 5, 50604)
('Sandy', 'Ocean blvd 2', '', '', 'HALIFAX', 'NS', 6, 50604)
('Betty', 'Green Grass 1', '', '', 'HALIFAX', 'NS', 7, 50604)
('Richard', 'Sky st 331', '', '', 'HALIFAX', 'NS', 8, 50604)
('Susan', 'One way 98', '', '', 'HALIFAX', 'NS', 9, 50604)
('Vicky', 'Yellow Garden 2', '', '', 'HALIFAX', 'NS', 10, 50604)
('Ben', 'Park Lane 38', '', '', 'HALIFAX', 'NS', 11, 50604)
('William', 'Central st 954', '', '', 'HALIFAX', 'NS', 12, 50604)
('Chuck', 'Main Road 989', '', '', 'HALIFAX', 'NS', 13, 50604)
('Viola', 'Sideway 1633', '', '', 'HALIFAX', 'NS', 14, 50604)

In [28]:
#get lastrow

import mysql.connector

mydb = mysql.connector.connect(
  host="localhost",
  user="akshith",
  password="Nopassword@1",
  database="clientindex"
)

mycursor = mydb.cursor()

sql = "INSERT INTO NDXMBR (name, address1, address2, address3, city, state, zip) VALUES (%s, %s, %s, %s, %s, %s, %s)"
val = ("Michelle", "Blue Village",'','','VERMOUNT','US','50604')
mycursor.execute(sql, val)

mydb.commit()

print("1 record inserted, ID:", mycursor.lastrowid)

1 record inserted, ID: 15

In [29]:
#SELECT ONLY CERTAIN ROWS
import mysql.connector

mydb = mysql.connector.connect(
  host="localhost",
  user="akshith",
  password="Nopassword@1",
  database="clientindex"
)

mycursor = mydb.cursor()

mycursor.execute("SELECT name, address1 FROM NDXMBR")

myresult = mycursor.fetchall()

for x in myresult:
  print(x)

('John', 'Highway 21')
('Peter', 'Lowstreet 4')
('Amy', 'Apple st 652')
('Hannah', 'Mountain 21')
('Michael', 'Valley 345')
('Sandy', 'Ocean blvd 2')
('Betty', 'Green Grass 1')
('Richard', 'Sky st 331')
('Susan', 'One way 98')
('Vicky', 'Yellow Garden 2')
('Ben', 'Park Lane 38')
('William', 'Central st 954')
('Chuck', 'Main Road 989')
('Viola', 'Sideway 1633')
('Michelle', 'Blue Village')

In [3]:
import mysql.connector

mydb = mysql.connector.connect(
  host="localhost",
  user="akshith",
  password="Nopassword@1",
  database="clientindex"
)

mycursor = mydb.cursor()

mycursor.execute("SELECT * FROM NDXMBR")

#myresult = mycursor.fetchall()
myresult = mycursor.fetchone()

for x in myresult:
  print(x)

John
Highway 21
unit 504

halifax
NS
1
None

In [31]:
#WHERE COMMAND

import mysql.connector

mydb = mysql.connector.connect(
   host="localhost",
  user="akshith",
  password="Nopassword@1",
  database="clientindex"
)

mycursor = mydb.cursor()

sql = "SELECT * FROM NDXMBR WHERE NAME ='VIOLA'"

mycursor.execute(sql)

myresult = mycursor.fetchall()

for x in myresult:
  print(x)

('Viola', 'Sideway 1633', '', '', 'HALIFAX', 'NS', 14, 50604)

In [33]:
import mysql.connector

mydb = mysql.connector.connect(
   host="localhost",
  user="akshith",
  password="Nopassword@1",
  database="clientindex"
)

mycursor = mydb.cursor()

sql = "SELECT * FROM NDXMBR WHERE address1 LIKE '%CEN%'"

mycursor.execute(sql)

myresult = mycursor.fetchall()

for x in myresult:
  print(x)

('William', 'Central st 954', '', '', 'HALIFAX', 'NS', 12, 50604)

In [37]:
#ORDER BY
import mysql.connector

mydb = mysql.connector.connect(
   host="localhost",
  user="akshith",
  password="Nopassword@1",
  database="clientindex"
)

mycursor = mydb.cursor()

sql = "SELECT * FROM NDXMBR ORDER BY name"

mycursor.execute(sql)

myresult = mycursor.fetchall()

for x in myresult:
  print(x)

('Amy', 'Apple st 652', '', '', 'HALIFAX', 'NS', 3, 50604)
('Ben', 'Park Lane 38', '', '', 'HALIFAX', 'NS', 11, 50604)
('Betty', 'Green Grass 1', '', '', 'HALIFAX', 'NS', 7, 50604)
('Chuck', 'Main Road 989', '', '', 'HALIFAX', 'NS', 13, 50604)
('Hannah', 'Mountain 21', '', '', 'HALIFAX', 'NS', 4, 50604)
('John', 'Highway 21', 'unit 504', '', 'halifax', 'NS', 1, None)
('Michael', 'Valley 345', '', '', 'HALIFAX', 'NS', 5, 50604)
('Michelle', 'Blue Village', '', '', 'VERMOUNT', 'US', 15, 50604)
('Peter', 'Lowstreet 4', '', '', 'HALIFAX', 'NS', 2, 50604)
('Richard', 'Sky st 331', '', '', 'HALIFAX', 'NS', 8, 50604)
('Sandy', 'Ocean blvd 2', '', '', 'HALIFAX', 'NS', 6, 50604)
('Susan', 'One way 98', '', '', 'HALIFAX', 'NS', 9, 50604)
('Vicky', 'Yellow Garden 2', '', '', 'HALIFAX', 'NS', 10, 50604)
('Viola', 'Sideway 1633', '', '', 'HALIFAX', 'NS', 14, 50604)
('William', 'Central st 954', '', '', 'HALIFAX', 'NS', 12, 50604)

In [38]:
import mysql.connector

mydb = mysql.connector.connect(
   host="localhost",
  user="akshith",
  password="Nopassword@1",
  database="clientindex"
)

mycursor = mydb.cursor()

sql = "SELECT * FROM NDXMBR ORDER BY name DESC"

mycursor.execute(sql)

myresult = mycursor.fetchall()

for x in myresult:
  print(x)

('William', 'Central st 954', '', '', 'HALIFAX', 'NS', 12, 50604)
('Viola', 'Sideway 1633', '', '', 'HALIFAX', 'NS', 14, 50604)
('Vicky', 'Yellow Garden 2', '', '', 'HALIFAX', 'NS', 10, 50604)
('Susan', 'One way 98', '', '', 'HALIFAX', 'NS', 9, 50604)
('Sandy', 'Ocean blvd 2', '', '', 'HALIFAX', 'NS', 6, 50604)
('Richard', 'Sky st 331', '', '', 'HALIFAX', 'NS', 8, 50604)
('Peter', 'Lowstreet 4', '', '', 'HALIFAX', 'NS', 2, 50604)
('Michelle', 'Blue Village', '', '', 'VERMOUNT', 'US', 15, 50604)
('Michael', 'Valley 345', '', '', 'HALIFAX', 'NS', 5, 50604)
('John', 'Highway 21', 'unit 504', '', 'halifax', 'NS', 1, None)
('Hannah', 'Mountain 21', '', '', 'HALIFAX', 'NS', 4, 50604)
('Chuck', 'Main Road 989', '', '', 'HALIFAX', 'NS', 13, 50604)
('Betty', 'Green Grass 1', '', '', 'HALIFAX', 'NS', 7, 50604)
('Ben', 'Park Lane 38', '', '', 'HALIFAX', 'NS', 11, 50604)
('Amy', 'Apple st 652', '', '', 'HALIFAX', 'NS', 3, 50604)

In [39]:
#DELETE A RECORD IN A TABLE

import mysql.connector

mydb = mysql.connector.connect(
  host="localhost",
  user="akshith",
  password="Nopassword@1",
  database="clientindex"
)

mycursor = mydb.cursor()

sql = "DELETE FROM NDXMBR WHERE address1 = 'apple st 652'"

mycursor.execute(sql)

mydb.commit()

print(mycursor.rowcount, "record(s) deleted")

1 record(s) deleted

In [40]:
#Create a table

import mysql.connector

mydb = mysql.connector.connect(
  host="localhost",
  user="akshith",
  password="Nopassword@1",
  database="clientindex"
)

mycursor = mydb.cursor()

mycursor.execute("CREATE TABLE NDXNAM (NAME VARCHAR(25), ID INT(20) AUTO_INCREMENT PRIMARY KEY)")

In [41]:
#DELETE A TABLE

import mysql.connector

mydb = mysql.connector.connect(
  host="localhost",
  user="akshith",
  password="Nopassword@1",
  database="clientindex"
)

mycursor = mydb.cursor()

sql = "DROP TABLE NDXNAM"

mycursor.execute(sql)

In [42]:
#DELETE TABLE IF PRESENT

import mysql.connector

mydb = mysql.connector.connect(
  host="localhost",
  user="akshith",
  password="Nopassword@1",
  database="clientindex"
)

mycursor = mydb.cursor()

sql = "DROP TABLE IF EXISTS NDXNAM"

mycursor.execute(sql)

In [43]:
#UPDATE A TABLE

import mysql.connector

mydb = mysql.connector.connect(
 host="localhost",
  user="akshith",
  password="Nopassword@1",
  database="clientindex"
)

mycursor = mydb.cursor()

sql = "UPDATE NDXMBR SET address1 = '1 NATIONALLIFE DRIVE' WHERE address1 = 'Ocean blvd 2'"

mycursor.execute(sql)

mydb.commit()

print(mycursor.rowcount, "record(s) affected")

1 record(s) affected

In [45]:
#UPDATING USE PLACEHOLDER

import mysql.connector

mydb = mysql.connector.connect(
 host="localhost",
  user="akshith",
  password="Nopassword@1",
  database="clientindex"
)

mycursor = mydb.cursor()

sql = "UPDATE NDXMBR SET address1 = %s WHERE address1 = %s"
val = ("OCEAN BLVD 2", "1 NATIONALLIFE DRIVE")

mycursor.execute(sql, val)

mydb.commit()

print(mycursor.rowcount, "record(s) affected")

1 record(s) affected

In [46]:
#LIMIT

import mysql.connector

mydb = mysql.connector.connect(
 host="localhost",
  user="akshith",
  password="Nopassword@1",
  database="clientindex"
)

mycursor = mydb.cursor()

mycursor.execute("SELECT * FROM NDXMBR LIMIT 5")

myresult = mycursor.fetchall()

for x in myresult:
  print(x)

('John', 'Highway 21', 'unit 504', '', 'halifax', 'NS', 1, None)
('Peter', 'Lowstreet 4', '', '', 'HALIFAX', 'NS', 2, 50604)
('Hannah', 'Mountain 21', '', '', 'HALIFAX', 'NS', 4, 50604)
('Michael', 'Valley 345', '', '', 'HALIFAX', 'NS', 5, 50604)
('Sandy', 'OCEAN BLVD 2', '', '', 'HALIFAX', 'NS', 6, 50604)

In [47]:
import mysql.connector

mydb = mysql.connector.connect(
 host="localhost",
  user="akshith",
  password="Nopassword@1",
  database="clientindex"
)

mycursor = mydb.cursor()

mycursor.execute("SELECT * FROM NDXMBR LIMIT 5 OFFSET 2")

myresult = mycursor.fetchall()

for x in myresult:
  print(x)

('Hannah', 'Mountain 21', '', '', 'HALIFAX', 'NS', 4, 50604)
('Michael', 'Valley 345', '', '', 'HALIFAX', 'NS', 5, 50604)
('Sandy', 'OCEAN BLVD 2', '', '', 'HALIFAX', 'NS', 6, 50604)
('Betty', 'Green Grass 1', '', '', 'HALIFAX', 'NS', 7, 50604)
('Richard', 'Sky st 331', '', '', 'HALIFAX', 'NS', 8, 50604)

In [48]:
#Create a table

import mysql.connector

mydb = mysql.connector.connect(
  host="localhost",
  user="akshith",
  password="Nopassword@1",
  database="clientindex"
)

mycursor = mydb.cursor()

mycursor.execute("CREATE TABLE NDXNAM (NAME VARCHAR(25), ID INT(20) AUTO_INCREMENT PRIMARY KEY)")

In [51]:
#mutiple rows insert

import mysql.connector

mydb = mysql.connector.connect(
  host="localhost",
  user="akshith",
  password="Nopassword@1",
  database="clientindex"
)

mycursor = mydb.cursor()

sql = "INSERT INTO NDXNAM (NAME) VALUES (%s)"
val = [
  ('Peter',),
  ('Amy',),
  ('Hannah',),
  ('Michael',),
  ('Sandy',),
  ('Betty',),
  ('Richard',),
  ('Susan',)
]

mycursor.executemany(sql, val)

mydb.commit()

print(mycursor.rowcount, "was inserted.")

8 was inserted.