In [ ]:
TUPLE:

IT is same as list but the elements are immutable(Not Chnages).

Elements must enclosed with in Paranthesis().

Tuple is a sequence of elements. 
A tuple is immutable, unlike a list in Python. By immutable, we mean that it is not possible to update a tuple after declaring one. 
The elements inside a tuple can be any Python object such a string, integer etc. Tuples are surrounded by parenthesis.

If we can't able to change in tuple why we are using it?

Not only do they provide "read-only" access to the data values but they are also faster than lists. Consider the following pieces of code:

In [2]:
import timeit

print(timeit.timeit('x=(1,2,3,4,5,6,7,8,9)', number=100000))  #0.0018976779974764213
print(timeit.timeit('x=[1,2,3,4,5,6,7,8,9]', number=100000))  #0.019868606992531568

0.001246916000127385
0.007407791999867186

In [5]:
#Examples:

t1 = (1, "abc", 3.0)
print(t1)
print(type(t1))

t2=(1)
print(t2)
print(type(t2))

t3=('a',)
print(t3)
print(type(t3))

(1, 'abc', 3.0)
<class 'tuple'>
1
<class 'int'>
('a',)
<class 'tuple'>

In [18]:
t1 = (1, "abc", 3.0)
t2 = 1,'abc',3.0

l1 = [10,20,30,50]
l2 = 10,20,30,40,50
print(type(l1))
print(type(l2))
#print(t1)
#print(type(t1))

<class 'list'>
<class 'tuple'>

In [19]:
#Declaring a Tuple

t2 = ()
print(type(t2))

#It is important to note that declaring a tuple consisting a single element requires a comma after the first element.

t3 = (1)
print(t3)
print(type(t3))

t4 = (1,)
print(t4)
print(type(t4))

t5 = ('abc')
print(type(t5))

t6=('abc',)
print(type(t6))

t7 = (True)
print(type(t7))

t8 = (True,10,10.0,'YYY')
print(type(t8))

<class 'tuple'>
1
<class 'int'>
(1,)
<class 'tuple'>
<class 'str'>
<class 'tuple'>
<class 'bool'>
<class 'tuple'>

In [6]:
#Accessing elements of a Tuple

#We use square brackets along with the index which we want to access.

#Examples:

t1 = (1, "abc", 3.0)
print(t1[0])
print(t1[-1])
print(t1[4])

'''Index table indicating positive and negative index values.

---------------------------
tuple      |  1  "abc"  3.0
+ve index  |  0     1     2
-ve index  | -3    -2    -1
---------------------------'''

1
3.0

IndexError: tuple index out of range

In [20]:
#we saw in the definition of a tuple that tuples are immutable. 
#It is not possible to update them once declared. but what happens if we try to do so?

t1 = (1, "abc", 3.0)
t1[1] = 'xyz'

TypeError: 'tuple' object does not support item assignment

In [21]:
#If we try to update the element by using index, it raises an error saying that ‘tuple’ object does not support item assignment.

#However, if you add mutable elements such as a list inside a tuple, we can mutate them. For example:

a = [1, 2]
b = [4, 5]
t = (a, b) #([1,2],[4,5])
print(t)
a.append(3)
print(t)

([1, 2], [4, 5])
([1, 2, 3], [4, 5])

In [22]:
#A tuple can also be nested, i.e. just like a list inside a tuple, we can have tuples inside a tuple.

a = (1, 2)
b = (4, 5)
t = (a, b)
print(t)

#However, now that tuples are not mutable, we cannot update the tuple inside a tuple either.
#If we really want to update a tuple, we can use that tuple to create another tuple.

t2 = (t[0], (3), t[1])
print(t2)

((1, 2), (4, 5))
((1, 2), 3, (4, 5))

In [23]:
#Deleting a Tuple

#Since tuples are immutable, it is not possible to delete individual elements of a tuple.
#however, we can delete the whole tuple itself.

t = (1, "abc", 3.0)
print(t)
del(t)
print(t)

(1, 'abc', 3.0)

NameError: name 't' is not defined

In [17]:
#Slicing a Tuple

#Tuple slicing is similar to string slicing. Using slicing we can extract out elements of any tuple. 
#We have to provide the starting index and the ending index i.e. tuple[start:end]

t = ('s', 'u', 's', 'a', 'n')
print(t[1:4])

('u', 's', 'a')

In [16]:
t = (5, 2, 9, 7)
print(min(t)) # Returns the minimum element
print(max(t)) # Returns the maximum element
print(len(t)) # Returns the length of the tuple

2
9
4

In [13]:
#Using + to create a new tuple using existing tuples. This is called concatenation.

t1 = (1, 2)
t2 = (3,)
t3 = (4, 5)
t = (t1 + t2 + t3)
print(t)

(1, 2, 3, 4, 5)

In [12]:
my_tuple = ('a','p','p','l','e',)
print('a' in my_tuple)  # TRUE
print('b' in my_tuple)  #FALSE

True
False

In [24]:
#Convert list to tuple

list = [5, 10, 7, 4, 15, 3]
print(list)
#use the tuple() function built-in Python, passing as parameter the list
tuplex = tuple(list)
print(tuplex)

x = list(tuplex)
print(x)

[5, 10, 7, 4, 15, 3]
(5, 10, 7, 4, 15, 3)

TypeError: 'list' object is not callable

In [25]:
#Tuple Compares

#It compares the elements of both tuples.
#If both tuples are equal then returns 0
#If the first tuple is less than second tuple then it returns -1
#If the first tuple is greater than second tuple then it returns +1

t1=(10,20,30)
t2=(40,50,60)
t3=(10,20,30)
print(cmp(t1,t2)) # -1
print(cmp(t1,t3)) # 0
print(cmp(t2,t3)) # +1

#cmp() function is available only in Python2 but not in Python 3

NameError: name 'cmp' is not defined

In [26]:
#Tuple Packing and Unpacking:

#We can create a tuple by packing a group of variables.

a=10
b=20
c=30
d=40
t=a,b,c,d

print(t)

#Tuple unpacking is the reverse process of tuple packing
#We can unpack a tuple and assign its values to different variables

t=(10,20,30,40)
a,b,c,d=t
print("a=",a,"b=",b,"c=",c,"d=",d)

(10, 20, 30, 40)
a= 10 b= 20 c= 30 d= 40

In [ ]:


#Difference between List & Tuple

List:
    
1) List is a Group of Comma separeated Values within Square Brackets and Square Brackets are mandatory.
Eg: i = [10, 20, 30, 40]
    
2) List Objects are Mutable i.e. once we creates List Object we can perform any changes in that Object.
Eg: i[1] = 70
    
3) If the Content is not fixed and keep on changing then we should go for List.

4) List Objects can not used as Keys for Dictionries because Keys should be Hashable and Immutable.

Tuple:

1) Tuple is a Group of Comma separeated Values within Parenthesis and Parenthesis are optional.
Eg: t = (10, 20, 30, 40)
t = 10, 20, 30, 40

2) Tuple Objeccts are Immutable i.e. once we creates Tuple Object we cannot change
its content.
t[1] = 70  ValueError: tuple object does not support item assignment.

3) If the content is fixed and never changes then we should go for Tuple.

4) Tuple Objects can be used as Keys for Dictionries because Keys should be Hashable and Immutable.