In [ ]:
#Dictionary Data type

It is a group of key pair values.
The elemens must enclosed with in flower braces { }
The elements are orderded list 
The elements are mutable 
Keys must be unique 

d = {key:value,key:value}

In [1]:
#creating dictonary

d1 = { 'AP': 'HYD', 'TN': 'chennai', 'KN':'Banglore' }
d2 = {'A':65, 'B':66, 'C':69 , 'D':70}
d3 = { 10:'ACC', 20:'Sal', 30:'IT'}
d4 = {'empno':101,'ename':'Hari', 'sal':9000,'des no':10 }
d5 = {} 

print(d1)
print(type(d1))

{'AP': 'HYD', 'TN': 'chennai', 'KN': 'Banglore'}
<class 'dict'>

In [2]:
#Adding/updating

d1['ms']= 'mumbai'
print(d1)
d2['E'] = 71
print(d2)
d1['AP']='amaravathi' 
print(d1)
#d4['sal']-93000 
#print(d4)

{'AP': 'HYD', 'TN': 'chennai', 'KN': 'Banglore', 'ms': 'mumbai'}
{'A': 65, 'B': 66, 'C': 69, 'D': 70, 'E': 71}
{'AP': 'amaravathi', 'TN': 'chennai', 'KN': 'Banglore', 'ms': 'mumbai'}

In [3]:
#delete

del d1['ms']
print(d1)

#del d1
#print(d1)

{'AP': 'amaravathi', 'TN': 'chennai', 'KN': 'Banglore'}

In [4]:
#clear

d1.clear()
print(d1)

{}

In [5]:
#functions of dictionary

#dict() - To create dictionary

d1=dict()  # It creates empty dictionary
d1 = {}
d2=dict({100:"durga",200:"ravi"}) # It creates dictionary with specified elements
d3=dict([(100,"durga"),(200,"shiva"),(300,"ravi")]) #It creates dictionary with the given list of tuple elements
print(d3)

{100: 'durga', 200: 'shiva', 300: 'ravi'}

In [6]:
#len() - return length of dict

print(len(d2))

#get() - To get the value associated with the key

print(d3.get(100))

2
durga

In [7]:
#pop()

print(d3.pop(100))
print(d3)

durga
{200: 'shiva', 300: 'ravi'}

In [8]:
#popitem()

d3=dict([(100,"durga"),(200,"shiva"),(300,"ravi")])
print(d3.popitem())
print(d3)

(300, 'ravi')
{100: 'durga', 200: 'shiva'}

In [9]:
#keys()

d3=dict([(100,"durga"),(200,"shiva"),(300,"ravi")])
print(d3.keys())

dict_keys([100, 200, 300])

In [10]:
#values()

d3=dict([(100,"durga"),(200,"shiva"),(300,"ravi")])
print(d3.values())

dict_values(['durga', 'shiva', 'ravi'])

In [11]:
#items

d3=dict([(100,"durga"),(200,"shiva"),(300,"ravi")])
print(d3.items())

dict_items([(100, 'durga'), (200, 'shiva'), (300, 'ravi')])

In [12]:
#copy() --> To create exactly duplicate dictionary(cloned copy)  d1=d.copy();

d3=dict([(100,"durga"),(200,"shiva"),(300,"ravi")])
d4=d3.copy()
print(d4)

{100: 'durga', 200: 'shiva', 300: 'ravi'}