In [ ]:
#SET Data type

A set is a collection which is unordered and unindexed.
It is denoted by flower Brackets{}.
it is mutable
duplicate are not allowed
We can apply mathematical operations like union,intersection,difference etc on set objects
Insertion order is not preserved.But we can sort the elements.
Indexing and slicing not allowed for the set.

it has 2 types

simple set - mostly we will not use sets , if we use will use simple set
frozen set - it is immutable , Hence add and Remove functions NOT applicable

In [1]:
#Creating a set

s = {10,20,30,40,50}
print(s)
print(type(s))

#create sets unsing set() option

a = [10,20,30,40]
b = set(a)
print(b)

c = set(range(5))
print(c)

d = {}
print(type(d))

e = set()
print(type(e))

{50, 20, 40, 10, 30}
<class 'set'>
{40, 10, 20, 30}
{0, 1, 2, 3, 4}
<class 'dict'>
<class 'set'>

In [2]:
#Functions on sets

#add(x)

s = {1,2,3,4,5}
s.add(40)
print(s)

#update(x,y,z)

#To add multiple items to the set.
#Arguments are not individual elements and these are Iterable objects like List,range etc.
#All elements present in the given Iterable objects will be added to the set.

a={10,20,30}
b=[40,50,60,90]
a.update(b,range(5))
print(a)

{1, 2, 3, 4, 5, 40}
{0, 1, 2, 3, 4, 40, 10, 50, 20, 90, 60, 30}

In [3]:
#copy()

a = {10,20,30}
b = a.copy()
print(b)

{10, 20, 30}

In [4]:
#pop()

c = {20,40,60,80}
d = c.pop()
print(d)

40

In [5]:
#remove(x)

#It removes specified element from the set.
#If the specified element not present in the Set then we will get KeyError

a = {10,20,30,60,40}
a.remove(60)
print(a)

{20, 40, 10, 30}

In [6]:
#discard(x)

#It removes the specified element from the set.
#If the specified element not present in the set then we won't get any error.

a = {10,20,30,60,40}
a.discard(60)
print(a)

{20, 40, 10, 30}

In [7]:
#clear()

a = {10,20,30,60,40}
a.clear()
print(a)

set()

In [8]:
#mathematical operations on SET

#union()
#x.union(y) ==>We can use this function to return all elements present in both sets
#x.union(y) or x|y

x = {1,2,3,4,5}
y = {6,7,8,9}
print(x.union(y))

{1, 2, 3, 4, 5, 6, 7, 8, 9}

In [9]:
#intersection()

#x.intersection(y) or x&y
#Returns common elements present in both x and y

x = {1,2,3,4,5}
y = {6,7,8,9,5}
print(x.intersection(y))

{5}

In [10]:
#difference()

#x.difference(y) or x-y
#returns the elements present in x but not in y

x = {1,2,3,4,5}
y = {6,7,8,9,5}
print(x.difference(y))

{1, 2, 3, 4}

In [11]:
#symmetric_difference()

#x.symmetric_difference(y) or x^y
#Returns elements present in either x or y but not in both

x = {1,2,3,4,5}
y = {6,7,8,9,5}
print(x.symmetric_difference(y))

{1, 2, 3, 4, 6, 7, 8, 9}